{% extends 'base.html' %}
{% load crispy_form_tags %}
{% block title%} Password Change {% endblock title %}

{% block content %}
    <h1>Password Change </h1>
    <p>Please enter your old password, for security's sake and then enter your new 
        password twice so we can verify you typed it in correctly.
    </p>
    <form method="POST"> 
        {% csrf_token %}
        {{ form | cryspy }}
        <button class="btn btn-succes"> change my password </button>
    </form>
{% endblock content %}